- @title = "Contact"
- @body_class = "five"

#five.image-slider
  %h1 A clever title.
  %h3 Lorem ipsum sit dolor amet. And some other sample text to describe the background image.
  %h3 Supplemental text.
  %p.link
    = link_to "Learn More", "/#" 

.double-option
  .left
    .container
      %h1 Contact

    .wufoo-form
      :plain
        <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

      <script type="text/javascript">
      var q7p7a7 = new WufooForm();
      q7p7a7.initialize({
      'userName':'media3creative', 
      'formHash':'q7p7a7', 
      'autoResize':true,
      'height':'594'});
      q7p7a7.display();
      </script>