@import base

@import screen
@import portrait
@import landscape
@import mobile-480
@import partials/m3c-bar
//@import partials/navmenu

// Media queries for responsive design
// These follow after primary styles so they will successfully override

@media all and (orientation:portrait)
	+portrait

@media all and (orientation:landscape)
	+landscape

// Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
@media screen and (max-device-width: 480px)
	+mobile-480


html
	margin: 0
	padding: 0
	//background: $html-bg

body
	//@extend .bg-gradient-primary
	margin: 0
	padding: 0
	//background: $body-bg

#one.bg1
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	background: url(/images/bg.jpg) no-repeat top center scroll
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover

.content
	@extend .box
	position: relative
	width: 100%
	margin: 0
	padding: 0
	.top
		@extend .box
		@extend .corner-all
		position: relative
		width: 1100px
		margin: 75px auto 0
		padding: 0 30px 0px 30px
		.left
			position: relative
			width: 350px
			height: 400px
			top: 0
			left: 0
			background: url(/images/bg-left.png) 0 0 no-repeat
			z-index: 33
			&:hover
				background: url(/images/bg-left.png) 0 bottom no-repeat
		.logo
			position: absolute
			width: 400px
			height: 400px
			top: 0
			left: 330px
			z-index: 44
		.right
			position: absolute
			width: 450px
			height: 400px
			top: 0
			left: 620px
			background: transparent
			z-index: 33
			p
				text-indent: -9999px
				a
					display: block
					width: 450px
					height: 133px
			.phone
				width: 450px
				height: 133px
				background: url(/images/bg-phone.png) 0 0 no-repeat
				&:hover
					background: url(/images/bg-phone.png) 0 bottom no-repeat
			.mail
				width: 450px
				height: 133px
				background: url(/images/bg-mail.png) 0 0 no-repeat
				&:hover
					background: url(/images/bg-mail.png) 0 bottom no-repeat
			.facebook
				width: 450px
				height: 133px
				background: url(/images/bg-facebook.png) 0 0 no-repeat
				&:hover
					background: url(/images/bg-facebook.png) 0 bottom no-repeat
	.bottom
		@extend .box
		position: relative
		width: 530px
		height: 100px
		margin: 0 auto
		background: url(/images/bg-bottom.png) 0 bottom no-repeat
		&:hover
			background: url(/images/bg-bottom.png) 0 0 no-repeat
		a
			display: block
			width: 500px
			height: 100px

// INHERITED FORMATTING
.text
	width: 100%
	font-weight: 200
	text-align: center
	
	
img.icon
	width: 15px
	height: 15px
	margin: -3px 1px 0 0
	vertical-align: middle
