- @title = "Equipment"
- @body_class = "four"

#four.image-slider
  %h1 A clever title.
  %h3 Lorem ipsum sit dolor amet. And some other sample text to describe the background image.
  %h3 Supplemental text.
  %p.link
    = link_to "Learn More", "/#" 

.double-option
  #four.left
    //.breadcrumbs
    .content
      %h1 Equipment
      %p Sed ut ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Tinae ab illo inventore veritatis perspiciatis natus error voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Tinae ab illo ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Tinae ab illo inventore veritatis inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

  #four.right
    %h1 Section Title
    %p.link
      = link_to "Read More  >", "/artists/artist1", :class => "artist-page"
