- @title = "Franchise Solutions: "
- @subtitle = "Services"
- @body_class = "one"

#2-1.image-slider
  %h1 Connecting people with opportunities.
  %h3 Whether you are looking for an investment opportunity or currently own a successful business, we can help you realize your business ownership dreams or turn your business into a franchise.
  %p.link
    = link_to "Learn More", "/#" 

.double-option
  #2-1.left
    .container
      %h1 Buy a franchise
      %h3 Our services help you find the perfect franchise for you
      %p.link
        = link_to "Read More  >", "/buy"
  #2-1.left
    .container
      .breadcrumbs
      .content
        %h1 Expand your business
        %p.link
          = link_to "Discover How  >", "/develop"