- @sitename = "Chase the Burn"
- @title = ""
- @subtitle = ""


// MAIN NAVIGATION
- @page1= "Home"
- @page2= "About"
- @page3= "Services"
- @page4= "Gallery"
- @page5= "Contact"
//- @page6= "Testimonials"

// ALT NAV

// FOOTER LINKS
/ - @ftColA= "Resources"
/ - @ftColA1= "link"
/ - @ftColA2= "link"
/ - @ftColA3= "link"
/ - @ftColA4= "link"
/ 
/ - @ftColB= "Networking"
/ - @ftColB1= "link"
/ - @ftColB2= "link"
/ - @ftColB3= "link"
/ - @ftColB4= "link"
/ 
/ - @ftColC= "Services"
/ - @ftColC1= "link"
/ - @ftColC2= "link"
/ - @ftColC3= "link"
/ - @ftColC4= "link"



!!! 5
%html
  %head
    %title= @sitename + @title + @subtitle

    %link{:href => "stylesheets/splash.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

    %script{:type => "text/javascript", :src => "javascripts/respond.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/modernizr-1.6.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.hoverIntent.minified.js"}
    
  %body{:class => @body_class}    
    .splash
      %h1 Coming Soon.
      %h2 &mdash; Chase the Burn &mdash;
      %p
        Our site is currently in development. Check back soon for updates.
        %br/
        For more information, please contact:
      %p 
        713.489.8158
        %br/
        %a{:href => "mailto:info@chasetheburn.com"} info@chasetheburn.com
      
    .m3c-bar
      .copyright
        :markdown
          Copyright &copy; 2011-#{Time.now.year} [#{@sitename}](#). All Rights Reserved.
      .powered-by
        :markdown
          Powered by [Media 3 Creative](http://media3creative.com/)