.font-helvetica, .subnav h1, .text h1, .button h1, .form h1, .main {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base, .main .content .section h4, .main .content .main h4, .main .content .section p, .main .content .main p, table#services tr, table#services td {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, .main .content .section img, .main .content .main img, .container-setup, .subnav, .text, .button, .form {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#a84f26), to(#552813));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #a84f26, #552813);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#552813), to(#a84f26));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #552813, #a84f26);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary, .button p.link, .button p.link:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#ec8653), to(#e76625));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #ec8653, #e76625);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #fff4e2;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #fff4e2;
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-top, .subnav h1, .text h1, .button h1, .form h1, .subnav h3, .text h3, .button h3, .form h3 {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-left {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-all, .banner .center .content img.banner, .link h5, .main .content .section img, .main .content .main img, .container-setup, .subnav, .text, .button, .form {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.clearfix, .body, .body .center, .sidebar, .link, .main .content .section, .main .content .main, .container-setup, .subnav, .text, .button, .form, .columns, .spacer {
  zoom: 1;
}
.clearfix:before, .body:before, .body .center:before, .sidebar:before, .link:before, .main .content .section:before, .main .content .main:before, .container-setup:before, .subnav:before, .text:before, .button:before, .form:before, .columns:before, .spacer:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, .body:after, .body .center:after, .sidebar:after, .link:after, .main .content .section:after, .main .content .main:after, .container-setup:after, .subnav:after, .text:after, .button:after, .form:after, .columns:after, .spacer:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, .banner .center, .body .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: white;
}

.box, .center-container, .banner .center, .body .center, .banner, .banner .center .content img.banner, .body, .sidebar, .subnav h1, .text h1, .button h1, .form h1, .subnav h3, .text h3, .button h3, .form h3, .link, .link p, .text p, .button p.link, .main, .main .content, .main .content .section, .main .content .main, .main .content .section img, .main .content .main img, .main .content .section h1, .main .content .main h1, .main .content .section h4, .main .content .main h4, .main .content .section p, .main .content .main p, table#services, table#services tr, table#services td, .container-setup, .subnav, .text, .button, .form {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.contact-form, .form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe, .form iframe {
  position: relative;
  top: -38px;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: #aaaaaa !important;
  font-weight: bold;
}

.font-helvetica, .subnav h1, .text h1, .button h1, .form h1, .main {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base, .main .content .section h4, .main .content .main h4, .main .content .section p, .main .content .main p, table#services tr, table#services td {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, .main .content .section img, .main .content .main img, .container-setup, .subnav, .text, .button, .form {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#a84f26), to(#552813));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #a84f26, #552813);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#552813), to(#a84f26));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #552813, #a84f26);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary, .button p.link, .button p.link:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#ec8653), to(#e76625));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #ec8653, #e76625);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #fff4e2;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #fff4e2;
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-top, .subnav h1, .text h1, .button h1, .form h1, .subnav h3, .text h3, .button h3, .form h3 {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-left {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-all, .banner .center .content img.banner, .link h5, .main .content .section img, .main .content .main img, .container-setup, .subnav, .text, .button, .form {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.banner .center {
  padding: 30px 0 15px;
  border-left: 1px solid #da5918;
  border-right: 1px solid #da5918;
}
.banner .center .content {
@extent .box;
  width: 900px;
  margin: 0 auto;
  padding: 0;
}
.banner .center .content img.banner {
  width: 900px;
  height: 205px;
  margin: 0;
  padding: 0;
  border: 1px solid #dadada;
}

.body {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.body .center {
  padding: 15px 0;
  border-left: 1px solid #da5918;
  border-right: 1px solid #da5918;
}
.body .center .content {
@extent .box;
  width: 900px;
  margin: 0 auto;
  padding: 0;
}

.sidebar {
  position: relative;
  clear: none;
  width: 280px;
}

.sidebar.left {
  display: inline;
  float: left;
  margin: 0 30px 30px 0;
}

.sidebar.right {
  display: inline;
  float: right;
  margin: 0 0 30px 30px;
}

.subnav h1, .text h1, .button h1, .form h1 {
  position: relative;
  color: white;
  background: transparent;
  width: 220px;
  margin: 0 auto;
  padding: 1em 0;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.subnav h3, .text h3, .button h3, .form h3 {
  font-family: "EmbedFont-1";
  position: relative;
  color: white;
  background: transparent;
  width: 220px;
  margin: 0 auto 15px;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: none;
  text-align: left;
}

.link {
  font-family: "EmbedFont-1";
  position: relative;
  width: 220px;
  margin: 0 auto;
  padding: 0.5em 0;
  font-size: 11px;
  border-bottom: 1px dotted #dadada;
}
.link:last-child {
  border-bottom: none;
  margin-bottom: 15px;
}
.link h5 {
  display: block;
  position: relative;
  display: inline;
  float: left;
  clear: left;
  top: 5px;
  width: 7px;
  height: 7px;
  background: #e76625;
  font-size: 11px;
  text-align: center;
}
.link p {
  display: block;
  display: inline;
  float: left;
  clear: right;
  width: 200px;
  margin: 0;
  padding: 0 0 0 1em;
  font-size: 12px;
}
.link p a {
  font-size: 12px;
  color: #e76625;
}
.link p a:hover {
  color: #ec8653;
  text-decoration: none;
}

.text p {
  font-family: "EmbedFont-1";
  width: 220px;
  margin: 0 auto 15px;
  padding: 0;
  color: white;
  font-size: 12px;
  font-weight: 200;
  text-align: justify;
  line-height: 1.7em;
}
.text p:last-child {
  margin-bottom: 15px;
}

.button p.link {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  position: relative;
  width: 234px;
  margin: 0 auto 15px;
  padding: 0;
  color: white;
  text-align: center;
  border: 1px solid #552813;
}
.button p.link a {
  display: block;
  margin: 0;
  padding: 6px 2em 7px 2em;
  color: white;
  font-size: 11px;
  font-weight: 200;
  text-transform: uppercase;
  text-decoration: none;
}

.form iframe {
  width: 220px;
  margin: 0 30px;
}

.main {
  position: relative;
  display: inline;
  float: left;
  width: 583px;
}
.main .content {
  position: relative;
  width: 583px !important;
}
.main .content .section, .main .content .main {
  position: relative;
  padding: 0 0 30px 0;
  border-bottom: 1px dotted #fff4e2;
}
.main .content .section:last-child, .main .content .main:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.main .content .section img, .main .content .main img {
  display: inline;
  float: left;
  clear: left;
  width: 200px;
  height: 300px;
  margin: 0 15px 15px 0;
  z-index: 100;
}
.main .content .section h1, .main .content .main h1 {
  width: 368px;
  margin: 7px 0 10px 215px;
  padding: 0 3em 0.5em 7px;
  color: #552813 !important;
  font-size: 22px;
  font-weight: bolder;
  word-spacing: 0.1em;
  letter-spacing: -0.05em;
  border-bottom: 1px solid #dadada;
}
.main .content .section h4, .main .content .main h4 {
  width: 583px;
  margin: 15px 0 0 0;
  padding: 0 0 0 7px;
  color: #e76625;
  font-size: 13px;
  font-weight: bold;
  text-align: justify;
  line-height: 1.2em;
}
.main .content .section p, .main .content .main p {
  width: 583px;
  margin: 7px 0 10px 0;
  padding: 0 0 0 7px;
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 200;
  text-align: justify;
  line-height: 1.7em;
}
.main .content .section p:last-child, .main .content .main p:last-child {
  margin-bottom: 0;
}
.main .content .section p a, .main .content .main p a {
  color: #a84f26;
  text-decoration: none;
}
.main .content .section p a:hover, .main .content .main p a:hover {
  color: #552813;
}

table#services {
  border-collapse: none !important;
  border: 1px solid #552813;
  margin: 30px 0;
}
table#services tr, table#services td {
  padding: 0.5em;
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  line-height: 1.7em;
}
table#services tr.header td {
  font-size: 115%;
  font-weight: bold;
  color: white;
  background: #a84f26;
  border: 1px solid transparent;
  border-bottom: 1px solid #dadada;
}
table#services tr:hover {
  background: #efefef;
}
table#services td.blank {
  background: transparent !important;
}
table#services td.type {
  min-width: 150px;
  text-align: left;
}
table#services td {
  border: 1px solid #dadada;
}
table#services td.n {
  background: url(/images/x.png) center center no-repeat;
}
table#services td.y {
  background: url(/images/v.png) center center no-repeat;
}

.container-setup, .subnav, .text, .button, .form {
  position: relative;
  display: inline;
  float: left;
  clear: both;
  width: 280px;
  margin: 0 0 30px 0;
  border: 1px solid #d05c21;
  z-index: 20;
}

.columns {
  width: 100%;
}
.columns .colL {
  position: relative;
  display: inline;
  float: left;
  clear: left;
  width: 276.5px;
  margin: 0 30px 0 0;
}
.columns .colR {
  position: relative;
  display: inline;
  float: left;
  clear: right;
  width: 276.5px;
  margin: 0;
}

.spacer {
  width: 583px;
  margin-bottom: 30px;
}

.no-image h1, .no-image p {
  width: 583px !important;
  margin-left: 0 !important;
}
