.font-helvetica, .double-option .right, .double-option .right h3, .double-option .left {
  font-family: "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

@font-face {
  font-family: "EmbedFont";
  src: url("/fonts/LucidaGrande.dfont") format("Datakfork TrueType");
}

.font-embed-1, .double-option {
  font-family: "EmbedFont", "Myriad Pro", Verdana, sans-serif;
}

.bg-gradient {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #333333, #000000);
  background-image: -moz-linear-gradient(top, #333333, #000000);
  background-image: -o-linear-gradient(top, #333333, #000000);
  background-image: -ms-linear-gradient(top, #333333, #000000);
  background-image: linear-gradient(top, #333333, #000000);
}

.bg-gradient-reverse {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404040), color-stop(100%, #0d0d0d));
  background-image: -webkit-linear-gradient(top, #404040, #0d0d0d);
  background-image: -moz-linear-gradient(top, #404040, #0d0d0d);
  background-image: -o-linear-gradient(top, #404040, #0d0d0d);
  background-image: -ms-linear-gradient(top, #404040, #0d0d0d);
  background-image: linear-gradient(top, #404040, #0d0d0d);
}

.bg-gradient-dark {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #262626, #000000);
  background-image: -moz-linear-gradient(top, #262626, #000000);
  background-image: -o-linear-gradient(top, #262626, #000000);
  background-image: -ms-linear-gradient(top, #262626, #000000);
  background-image: linear-gradient(top, #262626, #000000);
}

.bg-gradient-left {
  background: black;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(left, #000000, #333333);
  background-image: -moz-linear-gradient(left, #000000, #333333);
  background-image: -o-linear-gradient(left, #000000, #333333);
  background-image: -ms-linear-gradient(left, #000000, #333333);
  background-image: linear-gradient(left, #000000, #333333);
}

.bg-gradient-secondary {
  background: white;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left, #ffffff, #ffffff);
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

.corner-top {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

.double-option {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 900px;
  margin: 30px auto;
  padding: 0;
}
.double-option .right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  display: inline;
  float: left;
  width: 280px;
  height: 200px;
  margin: 0 0 30px 0;
  background: #efefef;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
}
.double-option .right h1 {
  position: relative;
  top: 15px;
  left: 15px;
  color: black;
  font-size: 24px;
  font-weight: 100;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}
.double-option .right h3 {
  position: relative;
  margin: 1em 76px 15px 15px;
  color: white;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.3em;
}
.double-option .right p.link {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
}
.double-option .right p.link a {
  display: inline;
  color: white;
  font-size: 11px;
  font-weight: 200;
  text-decoration: none;
}
.double-option .right p.link a:hover {
  color: white;
}
.double-option .left {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline;
  float: left;
  width: 590px;
  margin: 0 30px 30px 0;
}
.double-option .left .breadcrumbs {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 3px 0 0 0;
  background: #efefef;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
}
.double-option .left .breadcrumbs p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  margin: 0px 0 0 1.3em;
  color: #aaaaaa;
}
.double-option .left .breadcrumbs p a {
  display: inline;
  font-size: 11px;
  font-weight: 200;
  text-decoration: none;
}
.double-option .left .breadcrumbs p a:hover {
  color: black;
}
.double-option .left .content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  top: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.double-option .left .content h1 {
  margin: 15px 0 10px 0;
  padding: 0 3em 0.1em 7px;
  color: black;
  font-size: 24px;
  font-weight: 100;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #dadada;
}
.double-option .left .content h1:first-child {
  margin-top: 0;
}
.double-option .left .content p {
  position: relative;
  margin: 0 0 15px 0;
  padding: 0 0 0 7px;
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.3em;
}
.double-option .left .content p a {
  color: #333333;
  text-decoration: none;
}
.double-option .left .content p a:hover {
  color: black;
}

.section, .double-option .right, .double-option .left {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.contact-form {
  overflow: hidden;
}
.contact-form iframe {
  position: relative;
  top: -50px;
}

.clearfix, .double-option .right, .section, .double-option .left {
  zoom: 1;
}
.clearfix:before, .double-option .right:before, .section:before, .double-option .left:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, .double-option .right:after, .section:after, .double-option .left:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
