.font-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#a84f26), to(#552813));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #a84f26, #552813);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#552813), to(#a84f26));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #552813, #a84f26);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#ec8653), to(#e76625));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #ec8653, #e76625);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #fff4e2;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #fff4e2;
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-top {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-left {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-all, #footer .center .content {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.clearfix, #footer .center, #footer .center .content {
  zoom: 1;
}
.clearfix:before, #footer .center:before, #footer .center .content:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, #footer .center:after, #footer .center .content:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, #footer .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: white;
}

.box, .center-container, #footer .center, #footer .center .content .row {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.contact-form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe {
  position: relative;
  top: -38px;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: #aaaaaa !important;
  font-weight: bold;
}

.font-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#a84f26), to(#552813));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #a84f26, #552813);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#552813), to(#a84f26));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #552813, #a84f26);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#ec8653), to(#e76625));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #ec8653, #e76625);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #fff4e2;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #fff4e2;
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-top {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-left {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-all, #footer .center .content {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

#footer .center {
  font-family: "EmbedFont-1";
  margin: 0 auto;
  padding: 15px 0 30px;
  border-left: 1px solid #da5918;
  border-right: 1px solid #da5918;
  border-bottom: 1px solid #da5918;
}
#footer .center .content {
@extent .box;
  width: 900px;
  margin: 0 auto;
  padding: 0;
  height: 100px;
}
#footer .center .content .row {
  position: relative;
  width: 900px;
  margin: 3px auto;
  padding: 0;
  background: transparent;
  text-align: center;
}
#footer .center .content .row:last-child {
  border-right: none;
}
#footer .center .content .row p {
  font-family: "EmbedFont-1";
  position: relative;
  margin: 0 0 0.5em 0;
  color: #aaaaaa;
  font-size: 10px;
  font-weight: 200;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}
#footer .center .content .row a {
  font-family: "EmbedFont-1";
  display: inline;
  margin: 0 0 0.3em 0;
  color: #aaaaaa;
  font-size: 11px;
  font-weight: 200;
  text-decoration: none;
}
#footer .center .content .row a:hover {
  color: #552813;
}
#footer .center .content .row a img.icon {
  width: 15px;
  height: 15px;
  margin: -2px 1px 0 7px;
  vertical-align: middle;
}
