.font-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, #header, .center {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#a84f26), to(#552813));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #a84f26, #552813);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#552813), to(#a84f26));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #552813, #a84f26);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#ec8653), to(#e76625));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #ec8653, #e76625);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #fff4e2;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #fff4e2;
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-top {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-bottom, ul#topnav li .sub {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-left {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-all {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: white;
}

.box, .center-container, .center, #header, .center #logo1, ul#topnav a.topnav, ul#topnav .sub ul li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque, .center #logo1 a:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.contact-form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe {
  position: relative;
  top: -38px;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: #aaaaaa !important;
  font-weight: bold;
}

.font-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, #header, .center {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#a84f26), to(#552813));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #a84f26, #552813);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#552813), to(#a84f26));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #552813, #a84f26);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#ec8653), to(#e76625));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #ec8653, #e76625);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #fff4e2;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #fff4e2;
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-top {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-bottom, ul#topnav li .sub {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-left {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-all {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

#header {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #d05c21;
}

.center #logo1 {
  position: absolute;
  top: 15px;
  left: 35px;
  margin: 0;
}
.center #logo1 a {
  display: block;
  margin: 0;
  padding: 0;
}
.center #logo1 a img {
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

ul#topnav {
  font-family: "EmbedFont-1";
  display: inline;
  float: right;
  margin: 20px 30px 0 235px;
  padding: 0;
  color: #aaaaaa;
  font-size: 11px;
  letter-spacing: 0.05em;
  list-style: none;
  z-index: 50;
}

ul#topnav li {
  position: relative;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

ul#topnav li a {
  display: inline;
  float: left;
  text-decoration: none;
}

ul#topnav a.topnav {
  margin: 6px -1px 0 0;
  padding: 0.5em 2em 0.4em 2em;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  border-left: 1px solid #e76625;
  border-right: 1px solid #e76625;
}

ul#topnav li:hover a.topnav, ul#topnav li a.topnav:hover {
  color: #e76625;
  background: transparent;
}

ul#topnav li .sub {
  display: none;
  position: absolute;
  display: inline;
  float: left;
  top: 2.7em;
  left: 1px;
  background: #dadada;
  padding: 5px 0 6px 0;
  border-top: 2px solid #e76625;
  z-index: 50;
}

ul#topnav li .row {
  display: inline;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

ul#topnav li .sub ul {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#topnav .sub ul li {
  width: 140px;
}

ul#topnav .sub ul li h2 a {
  margin: 0 0 0.5em 0;
  background-image: none;
}

ul#topnav .sub ul li a {
  display: block;
  float: none;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0.5em 1em;
  color: #999999;
  background: #dadada;
  text-indent: 0;
  text-decoration: none;
}

ul#topnav .sub ul li a:hover {
  color: #552813;
  background: #a84f26;
}

ul#topnav .sub ul li h2 {
  margin: 0 0 0.5em 0;
  padding: 0;
  color: #999999;
  font-weight: bolder;
}

.navigation-hover, body.one a#one, body.two a#two, body.five a#five, body.four a#four, body.three a#three {
  color: #e76625;
}
