.font-helvetica {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-typekit, .container-setup h1, .profile-quickview .odd .container h1, .profile-quickview .even .container h1 {
  font-family: "atrament-web-1", "atrament-web-2", sans-serif;
}

.profile-quickview {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 958px;
  margin: 1px auto;
  padding: 0;
  top: 0px;
  background: #ebebec;
}
.profile-quickview .odd {
  background: #cdcfd0;
}
.profile-quickview .odd .container img {
  display: inline;
  float: left;
  clear: left;
}
.profile-quickview .odd .container h1 {
  display: inline;
  float: left;
  clear: right;
}
.profile-quickview .odd .container p {
  display: inline;
  float: left;
  margin: 25px 0 0 25px;
}
.profile-quickview .even {
  background: #baa2ac;
}
.profile-quickview .even .container img {
  display: inline;
  float: right;
  clear: right;
}
.profile-quickview .even .container h1 {
  display: inline;
  float: right;
  clear: left;
}
.profile-quickview .even .container p {
  display: inline;
  float: right;
  margin: 25px 25px 0 0;
}

.section, .profile-quickview .odd, .profile-quickview .even {
  position: relative;
  width: 100%;
  margin: 1px auto -1px auto;
  border-bottom: 1px solid black;
}

.container-setup, .profile-quickview .odd .container, .profile-quickview .even .container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 660px;
  top: 0;
  margin: 1px auto;
  padding: 30px 0;
  color: #222222;
  background: transparent;
}
.container-setup img, .profile-quickview .odd .container img, .profile-quickview .even .container img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 140px;
  height: 200px;
  margin: 0;
  padding: 0;
  border: 5px solid #ebebec;
}
.container-setup h1, .profile-quickview .odd .container h1, .profile-quickview .even .container h1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 520px;
  height: 55px;
  top: 25px;
  margin: 0;
  padding: 4px 0 0 0.5em;
  color: white;
  background: #5d0025;
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.container-setup p, .profile-quickview .odd .container p, .profile-quickview .even .container p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  clear: none;
  width: 233px;
  top: 25px;
  font-size: 12px;
  line-height: 16px;
}
.container-setup p.link, .profile-quickview .odd .container p.link, .profile-quickview .even .container p.link {
  display: inline;
  float: right;
  width: auto;
  margin: 0 25px 0 0;
  text-align: right;
}
