.font-helvetica, .container-setup, .triple-option .left .container, .triple-option .center .container, .triple-option .right .container, .container-setup h3, .triple-option .left .container h3, .triple-option .center .container h3, .triple-option .right .container h3 {
  font-family: "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-typekit {
  font-family: "atrament-web-1", "atrament-web-2", sans-serif;
}

@font-face {
  font-family: "EmbedFont";
  src: url("/fonts/TrajanPro-Bold.otf") format("opentype");
}

.font-embed-1 {
  font-family: "EmbedFont", "Garamond", Georgia, Times, serif;
}

.bg-gradient {
  background: #2360a9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5693dc), color-stop(100%, #2360a9));
  background-image: -webkit-linear-gradient(top, #5693dc, #2360a9);
  background-image: -moz-linear-gradient(top, #5693dc, #2360a9);
  background-image: -o-linear-gradient(top, #5693dc, #2360a9);
  background-image: -ms-linear-gradient(top, #5693dc, #2360a9);
  background-image: linear-gradient(top, #5693dc, #2360a9);
}

.bg-gradient-reverse {
  background: #2360a9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6ba0e0), color-stop(100%, #276cbe));
  background-image: -webkit-linear-gradient(top, #6ba0e0, #276cbe);
  background-image: -moz-linear-gradient(top, #6ba0e0, #276cbe);
  background-image: -o-linear-gradient(top, #6ba0e0, #276cbe);
  background-image: -ms-linear-gradient(top, #6ba0e0, #276cbe);
  background-image: linear-gradient(top, #6ba0e0, #276cbe);
}

.bg-gradient-dark {
  background: #2360a9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4185d8), color-stop(100%, #1f5494));
  background-image: -webkit-linear-gradient(top, #4185d8, #1f5494);
  background-image: -moz-linear-gradient(top, #4185d8, #1f5494);
  background-image: -o-linear-gradient(top, #4185d8, #1f5494);
  background-image: -ms-linear-gradient(top, #4185d8, #1f5494);
  background-image: linear-gradient(top, #4185d8, #1f5494);
}

.bg-gradient-left {
  background: #2360a9;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #2360a9), color-stop(100%, #5693dc));
  background-image: -webkit-linear-gradient(left, #2360a9, #5693dc);
  background-image: -moz-linear-gradient(left, #2360a9, #5693dc);
  background-image: -o-linear-gradient(left, #2360a9, #5693dc);
  background-image: -ms-linear-gradient(left, #2360a9, #5693dc);
  background-image: linear-gradient(left, #2360a9, #5693dc);
}

.bg-gradient-secondary {
  background: #f4762c;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f4762c), color-stop(100%, #f58644));
  background-image: -webkit-linear-gradient(left, #f4762c, #f58644);
  background-image: -moz-linear-gradient(left, #f4762c, #f58644);
  background-image: -o-linear-gradient(left, #f4762c, #f58644);
  background-image: -ms-linear-gradient(left, #f4762c, #f58644);
  background-image: linear-gradient(left, #f4762c, #f58644);
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

.corner-top {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

.triple-option {
  width: 900px;
  height: 200px;
  margin: 0 auto 30px auto;
}
.triple-option .left .container {
  margin: 0px 29px 30px 0;
}
.triple-option .center .container {
  margin: 0px 29px 30px 0;
}
.triple-option .right .container {
  margin: 0px 0 30px 0;
}

.container-setup, .triple-option .left .container, .triple-option .center .container, .triple-option .right .container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  display: inline;
  float: left;
  width: 280px;
  height: 200px;
  background: #efefef;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
}
.container-setup h1, .triple-option .left .container h1, .triple-option .center .container h1, .triple-option .right .container h1 {
  position: relative;
  top: 20px;
  left: 26px;
  color: #2360a9;
  font-size: 24px;
  font-weight: 100;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}
.container-setup h3, .triple-option .left .container h3, .triple-option .center .container h3, .triple-option .right .container h3 {
  position: relative;
  top: 10px;
  margin: 0 76px 12px 26px;
  color: #f4762c;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.3em;
}
.container-setup p.link, .triple-option .left .container p.link, .triple-option .center .container p.link, .triple-option .right .container p.link {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  position: absolute;
  bottom: 20px;
  left: 26px;
  color: white;
}
.container-setup p.link a, .triple-option .left .container p.link a, .triple-option .center .container p.link a, .triple-option .right .container p.link a {
  display: inline;
  color: #f4762c;
  font-size: 11px;
  font-weight: 200;
  text-decoration: none;
}
.container-setup p.link a:hover, .triple-option .left .container p.link a:hover, .triple-option .center .container p.link a:hover, .triple-option .right .container p.link a:hover {
  color: #aaaaaa;
}
