- @title = "About"
- @body_class = "about"

#about.image-slider
  %h1 A clever title.
  %h3 Lorem ipsum sit dolor amet. And some other sample text to describe the background image.
  %h3 Supplemental text.
  %p.link
    = link_to "Learn More", "/#" 

.triple-option
  .left
    .container
      %h1 Section Title
      %h3 Ifubipub ieuabrgiubs rvipub giuab giubrv.
      %p.link
        = link_to "Read More  >", "/artists/artist1", :class => "artist-page"
  .center
    .container
      %h1 Section Title
      %h3 Ifubipub ieuabrgiubs rvipub giuab giubrv.
      %p.link
        = link_to "Read More  >", "/artists/artist1", :class => "artist-page"
  .right
    .container
      %h1 Section Title
      %h3 Ifubipub ieuabrgiubs rvipub giuab giubrv.
      %p.link
        = link_to "Read More  >", "/artists/artist1", :class => "artist-page"