- @title = " | About"
- @subtitle = ""
- @body_class = "two"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-7.jpg"}



.body
  .center
    .content
      #two.sidebar.left
        .text
          %h1 Our Background
          %p The inspiration of AnnaKnows came from friends always asking "Anna, do you know someone that does or sells _____ ?"
          %p I decided that I wanted to assist other business owners obtain the exposure needed to have successful businesses. 
      

      #two.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Welcome to AnnaKnows.com!
            %p Consumers want the best deal we can achieve, or at least be able to find all the possible options during our research. The preferred approach is to obtain a referral from a friend; AnnaKnows wants to be your friendly referral.
            %p Taking into account the products and services requested, my own business connections from being an entrepreneur, and building new and lasting connections from Facebook, LinkedIn, Twitter, and other social media sites, AnnaKnows is the catalyst that connects the consumer to their business needs and consumer desires.

            %h4 Our Purpose
            %p
              This main website will serve several purposes, including but not limited to, providing a networking avenue for small businesses owners, advertising avenue to connect consumers with small businesses, and assist business owners with reaching new, internet browsing consumers. 

            %h4 Affordability
            %p
              Advertising fees are affordable. As an entrepreneur of a small business, I understand the need for minimizing costs while maximizing the return. My connections on social media networks are numerous, diverse, and growing daily. Consequently, the number of new consumers grows daily.

            %h4 Our Visitors
            %p
              If this is your first visit to AnnaKnows, take a look around; if you can’t find what you are looking for complete the contact form with your request. Also provide any comments for improvements or reassurance and share the link with your contacts. My hope is that you will become a frequent visitor. If you are a frequent flyer to my website, welcome back and come back soon!

          .spacer
