- @title = "About"
- @body_class = "two"

#two.image-slider
  %h1 A clever title.
  %h3 Lorem ipsum sit dolor amet. And some other sample text to describe the background image.
  %h3 Supplemental text.
  %p.link
    = link_to "Learn More", "/#" 

.double-option
  .left
    .container
      %h1 Section Title
      %h3 Ifubipub ieuabrgiubs rvipub giuab giubrv.
      %p.link
        = link_to "Read More  >", "/artists/artist1", :class => "artist-page"
  .center
    .container
      %h1 About
      %h3 Laundry Equipment Deals has been serving Central Florida by providing expert dry cleaning and laundry equipment repair services and installation for over 15 years. Camilo Morales, owner of Laundry Equipment Deals. is factory-trained at repairing laundry and dry clean equipment, and has over 20 years of knowledge and experience in the laundry and dry cleaning industry. The company oversees every project and maintains a skilled team of factory-schooled technicians who are prepared to serve you and always ready to diagnose and promptly fix your laundry equipment. Over the years, Laundry Equipment Deals has grown a reputation as the leading expert when it comes to the most timely and reliable equipment repair and his clients include satisfied owners of small businesses to large corporations, such as hotels and chain-store commercial cleaners who need a high quantity of machines fixed at once. Whether it is a minor repair, or a large project such as helping a new business with an entire installation, Laundry Equipment Deals is always ready to serve its clients with the the highest standards and ethics in the business.
  .right
    .container
      %h1 Section Title
      %h3 Ifubipub ieuabrgiubs rvipub giuab giubrv.
      %p Sed ut ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Tinae ab illo inventore veritatis perspiciatis natus error voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Tinae ab illo ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Tinae ab illo inventore veritatis inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %p.link
        = link_to "Read More  >", "/artists/artist1", :class => "artist-page"