- @title = " | Services"
- @subtitle = ""
- @body_class = "three"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #three.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Our Services
            %p
              Promoting and advertising businesses to thousands of online connections at an affordable cost.
              %br
              Compare each of our exposure packages below.
            
            %table#services
              %tr.header
                %td.blank &nbsp;
                %td Business Listing
                %td Exposure
                %td Mega Exposure
              %tr
                %td.type Business Listing*
                %td.y
                %td.y
                %td.y
              %tr
                %td.type Categories
                %td 1
                %td 2
                %td 2
              %tr
                %td.type Social Media Links
                %td.n
                %td Facebook, Twitter, LinkedIn
                %td Facebook, Twitter, LinkedIn
              %tr
                %td.type Social Media Posts
                %td 1-time only
                %td 3x monthly
                %td 3x weekly
              %tr
                %td.type Event Posting
                %td.n
                %td Limited
                %td Unlimited
              %tr
                %td.type Special Offers
                %td.y
                %td.y
                %td.y
              %tr
                %td.type Top Referrals
                %td.n
                %td.n
                %td.y
              %tr
                %td.type Exclusive Monthly Gathering
                %td.n
                %td.n
                %td.y
              %tr
                %td.type Price
                %td $25/month or $250/yr
                %td $75/month or $800/yr
                %td $125/month or $1350/yr
            %p *Includes: Company Name, Contact Name, Email Address, Image, Description, Website Link, and special offer for AnnaKnows visitors. Descriptions vary by exposure package&mdash;Business Listing: 150 characters, Exposure: 250 characters, Mega Exposure: 500 characters.


          .spacer
              
              
      #three.sidebar.right
        .text
          %h1 Text Sidebar
          %h3 Subtitle Text
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        .button
          %h1 Button Sidebar
          %h3 Subtitle Text
          %p.link
            %a{:href => "/path"} Link Text
        .form
          %h1 Form Sidebar
          .contact-form
            %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "440", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/s7p0s9/", :border => "none"}      
