- @title = "About"
- @body_class = "three"

#three.image-slider
  %h1 A clever title.
  %h3 Lorem ipsum sit dolor amet. And some other sample text to describe the background image.
  %h3 Supplemental text.
  %p.link
    = link_to "Learn More", "/#" 

.double-option
  #three.left
    //.breadcrumbs
    .content
      %h1 Services
      %p Laundry Equipment Deals specializes in equipment installation, replacement and repair of all major brands of dry cleaning machines, also including steam boilers, air compressors, shirt/pant laundry pressers, ironers, folders, dryers, wet cleaning machines, dry-vac vacuum units, conveyor systems, slick rail, water chillers and water cooling systems, carts, spotting stations or any other equipment found in a comercial laundry or dry cleaning store. Laundry Equipment Deals also provides startup business support for the development of dry cleaning plants and comercial laundrys that includes plant layout and design, equipment installation and training for equipment use and maintenance.
      
      .section-spacer
      %h1 Section Title
      %p Sed ut ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Tinae ab illo inventore veritatis perspiciatis natus error voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Tinae ab illo ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Tinae ab illo inventore veritatis inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

  #three.right
    %h1 Section Title
    %p.link
      = link_to "Read More  >", "/artists/artist1", :class => "artist-page"